@import "../base/global";

.about {
  --gap-section: 7rem;
  position: relative;
  padding-top: var(--gap-section);

  @include res-min-desktop-s {
    --bg-image: url("../images/circles/about-dots.svg");
    padding-bottom: var(--gap-section);
    background: var(--bg-image);
    background-repeat: no-repeat;
    background-position: bottom 0 right -6vh;
  }
  @include res-min-desktop-l {
    background-position: bottom 0 right -6vh;
  }
  @include res-min-desktop-xl {
    background-position: bottom 0 right 13vh;
  }

  &__container {
    --column: 1fr;
    --gap-container: #{$gap-xxl};
    @include grid-columns(
      def,
      var(--column),
      var(--gap-container),
      stretch,
      center,
      stretch
    );
    @include res-min-tablet {
      --column: 8fr 5fr;
    }
  }

  &__title {
  }

  &__content {
    @include flex-set(def, column, wrap, $gap-xxl, flex-start, flex-start);

    p {
      margin-bottom: var(--gap-l);
      font-size: large;
      color: var(--color-secondary);
      @include res-min-tablet {
        font-size: x-large;
      }

      strong {
        font-family: inherit;
        font-weight: bold;
      }
    }
  }

  &__numbers {
    position: relative;
    display: grid;
    gap: $gap-l;
    grid-row-start: 2;
    @include res-min-tablet {
      align-content: center;
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    .bg {
      --shape-radius: 0;
      position: absolute;
      right: -1rem;
      bottom: -1.6rem;
      width: 100vw;
      height: calc(100% + 3.2rem);
      background: radial-gradient(
        ellipse at center,
        $color-primary,
        $color-primary--darken
      );
      border-radius: var(--shape-radius) 0 0 var(--shape-radius);
      z-index: -1;
      @include res-min-mobile-l {
        right: -1.6rem;
      }
      @include res-min-tablet {
        --shape-radius: 6rem;
        width: 75%;
        height: 80%;
      }
      @include res-min-desktop-s {
        bottom: -9.6rem;
        height: calc(100% + 6.4rem);
      }
      @include res-min-desktop-m {
        right: -80vh;
        width: 100vh;
      }
    }
  }

  &__card {
    --card-opacity: 0;
    --trans-time: 0.5s;
    --color-box-shadow: hsla(0, 0%, 0%, 0.17);
    --trans-y: -1rem;
    @include box-shadow();
    position: relative;
    padding: 5rem 1.6rem 1.2rem 1.6rem;
    background-color: var(--color-white);
    opacity: var(--card-opacity);
    border-radius: var(--gap);
    transform: translateY(var(--trans-y));
    transition: opacity var(--trans-time) var(--trans-fnc),
      transform var(--trans-time) var(--trans-fnc);
    @include res-min-desktop-s {
      padding: 7rem 1.6rem 1.2rem 1.6rem;
    }

    &--visible {
      --card-opacity: 1;
      --trans-y: 0;

      &:nth-child(2) {
        transition-delay: 0.25s;
      }

      &:last-child {
        transition-delay: 0.5s;
      }
    }

    div {
      position: absolute;
      top: 1.6rem;
      right: 1.6rem;
      width: 72px;
      height: 72px;
      background: var(--color-primary);
      border-radius: 50%;
      @include res-min-desktop-s {
        width: 92px;
        height: 92px;
      }

      .icon {
        --icon-size: var(--gap-xl);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: var(--color-white);
        @include res-min-desktop-s {
          --icon-size: var(--gap-xxl);
        }
      }
    }

    p {
      font-family: var(--font-title);
      font-size: x-large;
      line-height: 1;
      color: var(--color-secondary);
      @include res-min-desktop-s {
        font-size: 2.1875rem;
      }

      span {
        font-family: inherit;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: inherit;
        color: var(--color-black);
        @include res-min-desktop-s {
          font-size: 5rem;
        }
      }
    }
  }
}
