@import "../base/global";

.footer {
  --gap-section: 5rem;
  margin-top: var(--gap-section);
  margin-bottom: var(--gap-xxl);
  color: var(--color-black);
  text-align: center;

  @include res-min-desktop-s {
    --gap-section: 13rem;
  }

  a {
    color: var(--color-black);
  }
}
