@import "../base/global";

.header {
  &__container {
    --col-count: 1;
    @include grid-columns(
      def,
      repeat(var(--col-count), minmax($gap-l, 1fr)),
      var(--gap),
      stretch,
      center,
      stretch
    );
    position: relative;
    height: calc(100vh - var(--nav-height));
    max-height: $width-4k;
    margin-top: var(--nav-height);
    z-index: 10;
  }

  &__title {
    @include flex-set(def, column, wrap, $gap-xxl, flex-start, center);
    background-image: image-set(
      "../images/backgrounds/header-bg_480.png" 1x,
      "../images/backgrounds/header-bg_960.png" 2x
    );
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;

    @include res-min-tablet {
      background-image: image-set(
        "../images/backgrounds/header-bg_960.png" 1x,
        "../images/backgrounds/header-bg_1920.png" 2x
      );
    }

    h1 {
      font-size: 7rem;
      font-weight: 500;
      color: var(--color-primary);
    }

    span {
      font-family: var(--font-title);
      font-size: $gap-xl;
      font-weight: 400;
      line-height: 1.4;
    }

    button {
      margin-top: $gap-l;
    }
  }
}

.anim {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: translate3d(0, 0, 0);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  &--a {
    animation: showup 7s infinite;
  }

  &--b {
    width: 0px;
    animation: reveal 7s infinite;

    span {
      margin-left: -350px;
      animation: slidein 7s infinite;
    }
  }

  @keyframes showup {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }
    20% {
      margin-left: -800px;
    }
    35% {
      margin-left: 0px;
    }
    100% {
      margin-left: 0px;
    }
  }

  @keyframes reveal {
    0% {
      width: 0px;
      opacity: 0;
    }
    20% {
      width: 0px;
      opacity: 1;
    }
    30% {
      width: 350px;
    }
    80% {
      opacity: 1;
    }
    100% {
      width: 350px;
      opacity: 0;
    }
  }
}
