.reference {
  --gap-section: 3.4rem;
  padding-top: var(--gap-section);
  scroll-margin-top: var(--gap-section);
  @include res-min-mobile-l {
    --gap-section: 7rem;
    scroll-margin-top: calc(var(--nav-height) * -0.5);
  }

  h2 {
    margin-bottom: 2rem;
  }
}
