@import "../Base/global";

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: var(--font-title);
}

p, span, small{
    font-family: var(--font-text);
    *{
        font-weight: inherit;
    }
}

.title{
    --title-color: #{$color-black};
    font-size: 4rem;
    font-weight: 600;
    color: var(--title-color);

    >strong{
        display: block;
        font-size: .4em;
        font-weight: 400;
        color: var(--color-primary);
        text-transform: uppercase;
    }
}

.desc{ 
    font-size: large;
    font-weight: 300;
    line-height: 1.8;
}