@import "../base/global";

.logo {
  max-width: 8rem;

  > svg {
    display: block;
    width: 100%;
    max-width: 74px;
    fill: var(--nav-color);
    @include res-max-desktop-s {
      max-width: 45px;
      height: 40px;
    }    
  }
}
